include head
body
	#app
		v-app
			v-main
				v-snackbar(v-model='alert_config.open' :color='alert_config.color' top='')
					| {{alert_config.message}}
				v-container
					v-progress-linear.mt-4(v-if='loading && !q_result' indeterminate='')
					div(v-else='')
						v-row.justify-center
							v-col.pa-0(cols='12' lg='8')
								v-card
									v-card-title
										v-row.ma-0.pa-0.align-center
											v-text-field(@keyup.enter='search_query' v-model='search' append-icon='mdi-magnify' label='Search' placeholder='Search for Books' single-line='' hide-details='')
											v-btn.ml-4(depressed='' @click='search_query')
												| Search
									v-data-table(:headers='headers' :items='works' item-key='_id' disable-pagination='' :hide-default-footer='true' show-expand='' :loading='loading')
										template(v-slot:expanded-item='{ headers, item }')
											td.pa-0(:colspan='headers.length')
												v-row.ma-0.pa-0.align-center
													img(:src='item.cover_image')
													p.ml-2 Published on {{formatDate(item)}}
													v-spacer
													a(target='_blank' v-bind:href='"https://www.google.com/search?q=" + item.title')
														v-btn(text='' depressed='')
															| Continue Search
									v-row.justify-center.ma-0.py-4
										v-pagination(v-model='page' total-visible='5' :length='total_pages' @input='paginate_search')
